/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~nativescript-theme-core/css/core.light.css";


/* Some overrides to match company theme */
.btn {
  font-size: 20px;
  padding: 80px 20px;
}

.btn.btn-primary {
  background: #c1d626;
  font-weight: bold;
}

.search {
  color: white;
  placeholder-color: #c1d626;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
  border-width: 0 0 5 0;
  border-bottom-color: #c1d626;
}
.background {
  background-image: "~/images/kiss.jpg";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app {
  background-color: #111;
}

.logo {
  margin: 100px 70px 80px;
  width: 65%;
}


/* List Item Main Page */


.list-group-item {
  padding: 50px;
  background-color: #111;
  color: #c1d626;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
 
}

.sport{
  text-align: right;
  border-width: 1 1 1 1  !important;
  text-align: right !important;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

.more{
  font-weight: bold;
  color: white;
  float: right;
}
.swimming{
  background-color: aqua;
  
  color: #111;
  text-align: center;
}

.tennis{
  background-color: rgb(201, 75, 29);
}

.gym{
  background-color: violet;
}

.football{
  background-color: green;
}

.hockey{
  background-color: rgb(26, 85, 211);
}

.rugby{
  background-color: goldenrod;
}

.squash{
  background-color: blue;
}

.view-results{
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.more{
    text-align: right;
}



/* Details Page */


.preview {
  height: 740px;
  width: 100%;
}

.title {
  padding: 20px;
  color: #c1d626;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.about {
  padding: 40px;
  font-size: 16px;
  word-break: break-all;
  white-space: normal;
  color: white;
}

.big{
  margin-top: 20px;
  font-size: 18px;
}

.background {
  background-image: url("res://back");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 40px;
}


.address{
  color: white;
  font-size: 16px;
  text-align: center;
}