<StackLayout orientation="vertical" class="app" height="100%">
  <Image src="res://locallogo" class="logo"></Image>
  <TextField [(ngModel)]="location" hint="Enter a location..." class="search"></TextField>
  <StackLayout class="background">
    <Button [text]="findLocationsBtn.text" class="btn btn-primary btn-find" (tap)="findLocations()"></Button>
    <ListView [items]="venues" height="69%">
      <ng-template let-venue="item" let-i="index">
        <ScrollView>

          <GridLayout (tap)="selectPitch(venue)" rows="auto" columns="220,80,50" class="list-group-item">
            <Label row="0" col="0" horizontalAlignment="left" [text]="venue.attributes.name"></Label>
            <Label row="0" col="1" horizontalAlignment="center"  [className]="'sport ' + venue.attributes.sport" [text]="venue.attributes.sport"></Label>
            <Label row="0" col="2" horizontalAlignment="right" class="more" text=">>"></Label>
          </GridLayout>

          <!-- <StackLayout (tap)="selectPitch(venue)"  orientation="horizontal" class="list-group-item">
            <Label width="50%" [text]="venue.attributes.name"></Label>
            <Label   [className]="'sport ' + venue.attributes.sport" [text]="venue.attributes.sport"></Label>
            <Label width="10%" class="more" text=">>"></Label>
          </StackLayout> -->
        </ScrollView>
      </ng-template>
      
    </ListView>
    <Label  class="view-results" text="slide down to view all results"></Label>
  </StackLayout>
</StackLayout>