<ActionBar [title]="pitch != null ? pitch.data.attributes.name : ''">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="tapGoBack()"></NavigationButton>
  <!-- <Label [text]="pitchID"></Label> -->
  <!-- <Label *ngIf="pitch != null" [text]="pitch.data.attributes.name"></Label> -->
</ActionBar>
<StackLayout *ngIf="pitch != null">
  <ScrollView height="100%" class="page app">
    <StackLayout>
      <Image *ngIf="image != null" [src]="image" class="preview"></Image>
      <Label class="title" [text]="pitch.data.attributes.name"></Label>
      <Label class="address" [text]="pitch.included[0].attributes.address1 + ' ' + pitch.included[0].attributes.address2"></Label>
      <Label class="address" [text]="pitch.included[0].attributes.postcode"></Label>
      <Label class="address" [text]="'Phone: ' + pitch.included[0].attributes.contact_number"></Label>
      <Label horizontalAlignment="center" [className]="'sport big ' + pitch.data.attributes.sport"
        [text]="pitch.data.attributes.sport + ' - ' + pitch.data.attributes.format + ' - ' + pitch.data.attributes.surface"></Label>
      <Label class="about" horizontalAlignment="center" [text]="pitch.data.attributes.about" textWrap="true"></Label>

    </StackLayout>
  </ScrollView>

</StackLayout>